/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 10;
    margin: 10;
    box-sizing: border-box;
    background-color: #91A4E0
}


header {
    background-color: #91A4E0;    
}

#tabs{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;  
    word-spacing: 1cm;
    text-align: center;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: whitesmoke;
    font-family: 'Andada+Pro', sans-serif;
}
/* Setting font and colour for the Main title */
h1{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:200%;
    /*color: #252525;*/
    color: whitesmoke;
    text-align: center;
}

h2{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:100%;
    
    color: whitesmoke;
    text-align: center;
}

/*Main picture at index.html*/
#main-walker {
    height: 600px;
    width: 100%;
    background: url("../images/Intro.jpg") no-repeat center center/cover;
    position: relative;   
}
#main-walker-adjust{
    margin: 2;
    padding: 0;
    font-size: large;
    text-align:center;
    background-color: #91A4E0;
    color: whitesmoke; 
   
}
#signup{
   /* background-color: #DDB9E0;*/
}
/* This is where all the external links are found*/ 
#links{
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;  
    word-spacing: 0cm;
    text-align: center;
    background-color: #91A4E0;
    /*margin: 0;
    padding: 0;
    font-size: medium;
    text-align:center;
    background-color: #91A4E0;
    color: whitesmoke; */
}
#footer{
    text-align: center;
}