/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 10;
    margin: 10;
    box-sizing: border-box;
  /*  background-color: #91A4E0;*/
    background-color: black;
}

/* This is the style of for my links */
#tabs{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;  
    word-spacing: 1cm;
    text-align: center;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: whitesmoke;
    font-family: 'Andada+Pro', sans-serif;
}

/* Setting font and colour for the Main title h1 and h2 */
h1{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:200%;
    color: whitesmoke;
    text-align: center;  
}

h2{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:100%;
    color: whitesmoke;
    text-align: center;
}

/*Main picture at index.html*/
#main-walker {
    height: 600px;
    width: 100%;
    background: url("../images/Intro.jpg") no-repeat center center/cover;
    position: relative;   
}

/*To adjust the main introduction paragraph */
#main-walker-adjust{
    margin: 2;
    padding: 0;
    font-size: large;
    text-align:center;
    color: whitesmoke; 
    margin-bottom: 15em;
   
}

/* Dog walk sign up picture */
#signup{
    color: whitesmoke; 
    margin-bottom: 15em;    
    height: 600px;
    width: 100%;
    background: url("../images/walk.jpg") no-repeat center center/cover;
    position: relative;      
  
    
}

/* Adjusting the size and position of the form */
#form{

    position: absolute;
    top: 80px;
    left : 200px;
}

/*Style the text and submit button */
input[type=text], input[type=submit]{
    background-color: lightblue;
    border: none;
   /* color: black; */
    padding: 5px 10px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    
}

/* This is where all the external links are found*/ 
#links{
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;  
    word-spacing: 0cm;
    text-align: center;
    margin-bottom: 15em;
}

/* Aligning the text at the footer */
#footer{
    text-align: center;
}

/* Aligning the icons and the text at the footer */
#social-networks{
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: whitesmoke;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (max-width: 576px) {
    
    h1{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:100%;
    color: whitesmoke;
    text-align: center;  
    }
    
    #form{
        position: absolute;
        top: 80px;
        left : 10px;
    }

    #tabs{
        font-size: 80%;
        letter-spacing: 2px;
        list-style-type: none;  
        word-spacing: 0.5cm;
        text-align: center;
    }
 
}

/*Styling for gallery.html */
#photos img{    
    width: 200px;
    height: 200px;
    line-height: 1em;        
}
#photos{
    line-height: 0;
    margin-bottom: 20em;
}

/*Styling for caring.html*/
#caring {
    margin-bottom: 10em;
}
#video{
    text-align: center;
    margin-bottom: 20em;
}