/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    /*padding: 10;
    margin: 10;
    box-sizing: border-box;*/
    background-color: black;
}

/* This is the style of for my links */
#tabs{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;  
    word-spacing: 1cm;
    text-align: center;
}

/* Adding some styles to the links when user clicke, hover, link and selected link */
/* unvisited link */
a:link {
    color: whitesmoke;
  }
  
  /* visited link */
  a:visited {
    color: whitesmoke;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: blue;
  } 

/* General styles */
body {
    height: 50px;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: whitesmoke;
    font-family: 'Andada+Pro', sans-serif;
}

/* Setting font and colour for the Main title h1 and p*/
h1{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:200%;
    color: whitesmoke;
    text-align: center;  
}

p {
    font-family: 'Andada+Pro', sans-serif;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font-size:100%;
    color: whitesmoke;
    text-align: center;
}

.parallax_mainpicture {
    /* The image used */
    
    width: 100%;
    background-image: url("../images/Intro.jpg");

    /* Full height */
    height: 750px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
*/
}

.parallax_signup {
    /* The image used */
    
    width: 100%;
    background-image: url("../images/walk.jpg");

    /* Full height */
    height: 750px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke; 
    margin-bottom: 15em;    
    height: 600px;
    width: 100%;
    position: relative;  
   
*/
}



/* Dog walk sign up picture */
/*#signup{
    color: whitesmoke; 
    margin-bottom: 15em;    
    height: 600px;
    width: 100%;
    position: relative;      
  
    
}*/

/* Adjusting the size and position of the form */
#form{

    position: absolute;
    top: 80px;
    left : 200px;
}

/*Style the text and submit button */
input[type=text], input[type=submit]{
    background-color: lightblue;
    border: none;
   /* color: black; */
    padding: 5px 10px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    
}

/* This is where all the external links are found*/ 
#links{
    font-size: 150%;
    letter-spacing: 4px;
    list-style-type: none;  
    word-spacing: 5cm;
    text-align: center;
    margin-bottom: 15em;
}

/* Aligning the text at the footer */
#footer{
    text-align: center;
}

/* Aligning the icons and the text at the footer */
#social-networks{
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: whitesmoke;
}

/* Media query: large or landscape phones min-width 768px */
@media screen and (min-width: 768px) {
    
    h1{
    font-family: 'Andada+Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:200%;
    color: whitesmoke;
    text-align: center;  
    }    
    
    #video{
        width: auto;
        height: auto;
    }
}

/*Styling for gallery.html */
#photos img{    
    width: 200px;
    height: 200px;
    line-height: 1em;         
}

#form{
    position: absolute;
    top: 80px;
    left : 10px;
}

#photos{
    line-height: 0;
    margin-bottom: 20em;
    text-align: center;  
}

/*Styling for caring.html*/
#caring {
    margin-bottom: 10em;
}

#video{
    text-align: center;
    margin-bottom: 20em;
}